/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/04/2015, 07:13:16 AM
    Author     : Cristian
*/
body{

    background-image:url("imagenes/imagen.jpg") 
}

.top-bar{
    background-color: #000;
}
.right{
    background-color: #B4B4B4;
}
.text{
    text-align: center;
    color: #ffffff;
    width: 40%;
    height: 100px;
    font-family: Comic Sans MS, Arial, MS Sans Serif;
}

.registro{
    background-color: #999999;
    margin-left: 500px;
    margin-top: 60px;   
}
.ingreso{
    margin-left: 500px;
    margin-top: 110px; 
    margin-height: 150px;
}
.ingreso2{
    margin-left: 550px;
    margin-top: 130px; 
    margin-height: 150px;
}
.img_rotar{
    position:absolute;
    margin-left: 30px;
    margin-top: 30px;
    border: #000 5px solid;
     -webkit-box-shadow: 1px 2px 30px 10px #305AFF;
    box-shadow: 1px 2px 30px 10px #305AFF;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(5deg);
    rotation: 10deg;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    
}
.img_ado{
    position:absolute;
    margin-left: 980px;
    margin-top:20px;
    -webkit-box-shadow: 1px 2px 30px 10px #305AFF;
    box-shadow: 1px 2px 30px 10px #305AFF;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    rotation: 10deg;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.ima_error{
    position: absolute;
     margin-left: 530px;
    top:100px;
    -webkit-box-shadow: 2px 2px 22px 12px #FF0808;
    box-shadow: 2px 2px 22px 12px #FF0808;
}

.olvidopass{
    margin-left: 450px;
    margin-top: 130px; 
}

.carru{
    position:absolute; 
    -webkit-box-shadow: 1px 2px 30px 10px #EAEDFF;
    box-shadow: 1px 2px 30px 10px #EAEDFF;
    margin-left: 190px; 
    top: 430px

}
.carrucel{
    position: absolute;
    margin-left: 200px;
    top: 180px;
    -webkit-box-shadow: 1px 2px 30px 20px #305AFF;
    box-shadow: 1px 2px 30px 20px #305AFF;
}

.logi{
    margin-left: 60px;
    top: 50px;
}

.regis{
    margin-top: 30px;
    margin-left: 60px;
}


.tabla{
    position: absolute;
    height: 400px; 
    width: 40%; 
    left: 400px; 
    margin-top: 50px;
    color: #ffffff
}



