/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/04/2015, 07:13:16 AM
    Author     : Cristian
*/
body{
    background-image:url("imagenes/imagen3.jpeg");
     background-repeat: no-repeat;
     background-attachment: fixed;
}
.top-bar{
    background-color: #000;
}
.right{
    background-color: #B4B4B4;
}


.ingreso2{
    margin-left: 550px;
    margin-top: 130px; 
    margin-height: 150px;
}
.img_rotar{
    position:absolute;
    margin-left: 32px;
    margin-top: -80px;
    border: #000 5px solid;
    -webkit-box-shadow: 1px 2px 30px 10px #305AFF;
    box-shadow: 1px 2px 30px 10px #305AFF;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(5deg);
    rotation: 10deg;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

}
.img_ado{
    position:absolute;
    margin-left: 987px;
    margin-top: -105px;
    -webkit-box-shadow: 1px 2px 30px 10px #305AFF;
    box-shadow: 1px 2px 30px 10px #305AFF;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    rotation: 10deg;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}



.ima_error{
    position: absolute;
    margin-left: 530px;
    top:100px;
    -webkit-box-shadow: 2px 2px 22px 12px #FF0808;
    box-shadow: 2px 2px 22px 12px #FF0808;
}

.olvidopass{
    margin-left: 450px;
    margin-top: 130px; 
}

.botones{
    position: relative;
    left: -93px;
    top: -231px; 
}



.logi{
    margin-left: 60px;
    top: 50px;
}

.regis{
    margin-top: 30px;
    margin-left: 60px;
}


.tabla{
    position: absolute;
    height: 400px; 
    width: 40%; 
    left: 400px; 
    margin-top: 50px;
    color: #ffffff
}

.menuu{
    position: absolute;
    width: 1365px; 
    left: 0px;
}
